---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import TeacherImg from '../assets/img/co-giao.png';
import Course1Img from '../assets/img/course-1.jpg';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>
		<Header />
		<main>
			<div class="intro-wrapper">
				<div class="left-intro">
					<h2 class="intro-sub-heading">Giới thiệu</h2>
					<h1 class="intro-heading">Trung tâm<br>Tiếng Trung Mộc Miên</h1>
					<p class="intro-content-p">
						Được thành lập vào năm 2014, Mộc Miên tự hào là trung tâm uy tín đã đồng hành cùng hơn 30.000 học viên chinh phục thành công chứng chỉ HSK.
						<br>
						Với lộ trình học tập tinh gọn, đội ngũ giáo viên chuyên môn cao, cùng giáo trình được biên soạn độc quyền bởi Founder - Thạc sĩ Nguyễn Thị A (HSK6), Mộc Miên đã giúp hàng chục nghìn học viên thành công trong bộ môn tiếng Trung, vươn đến mục tiêu thành thạo ngoại ngữ nhanh chóng, xuất khẩu lao động, ... ghi hết ra. 
					</p>
					<a href="/gioi-thieu" class="view-about-btn">Xem chi tiết</a>
				</div>
				<div class="right-intro">
					<div class="teacher-info-wrapper">
						<div class="teacher-info-icon">
							<i class="fas fa-chalkboard-teacher"></i>
						</div>
						<div class="teacher-info-text">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="far fa-star"></i>
							<p class="teacher-name">Cô giáo 老师</p>
							<p>Người có quyền lực nhất trung tâm</p>
						</div>
					</div>
					<Image class="img-teacher" src={TeacherImg} alt="Cô giáo ..." />
				</div>
			</div>

			<div class="reason-wrapper">
				<div class="reason-item reason-item-first row">
					<div class="reason-item-head col-4">
						<h4 class="reason-sub-heading main-page-h4-heading">Lý do bạn nên chọn</h4>
						<h3 class="reason-heading main-page-h3-heading">Tiếng Trung <span style="color: var(--accent);">Mộc Miên</span></h3>
					</div>
					<p class="reason-intro-desc col-8 flex-center-v">
						Với hơn 10 năm hình thành và phát triển, Anh ngữ Athena đã đồng hành cùng hơn 30.000 học viên chinh phục thành công chứng chỉ TOEIC,  IELTS từ con số 0 chỉ sau 1 khóa học duy nhất.
					</p>
				</div>
				<div class="row">
					<div class="reason-item col-3">
						<div class="reason-item-head"><i class="far fa-graduation-cap"></i></div>
						<p>
							Đội ngũ giáo viên chuyên môn cao, dày dặn kinh nghiệm luyện thi thực tế
						</p>
					</div>
					<div class="reason-item col-3">
						<div class="reason-item-head"><i class="far fa-book"></i></div>
						<p>
							Lộ trình tinh gọn, không lan man, giúp học viên đạt mục tiêu về điểm số trong thời gian ngắn nhất.	
						</p>
					</div>
					<div class="reason-item col-3">
						<div class="reason-item-head"><i class="far fa-users-class"></i></div>
						<p>
							Giáo trình được thiết kế độc quyền bởi Thạc sĩ Đỗ Vân Anh - Founder Anh ngữ Athena (8.5 IELTS , 990 TOEIC)
						</p>
					</div>
					<div class="reason-item col-3">
						<div class="reason-item-head"><i class="far fa-tv"></i></div>
						<p>
							Học phí cạnh tranh nhất thị trường, hỗ trợ 50% lệ phí thi chứng chỉ cho học viên sau khóa học.
						</p>
					</div>
				</div>
			</div>

			<div class="courses-wrapper">
				<div class="courses-header row">
					<div class="courses-title col-4">
						<h4 class="courses-title-sub-heading main-page-h4-heading">Các khoá học</h4>
						<h3 class="courses-title-heading main-page-h3-heading">Tiếng Trung <span style="color: var(--accent);">Mộc Miên</span></h3>
					</div>
					<div class="courses-description col-8">
						<p class="flex-center-v">
							Với sự đa dạng hóa khóa học từ offline đến online, mỗi học viên sẽ 
							có cơ hội trải nghiệm phương pháp học tiếng Anh độc đáo duy nhất tại Mộc Miên. 
							Học viên sẽ dễ dàng tiếp nhận kiến thức mới nhờ phương pháp giảng dạy tinh gọn 
							từ những giáo viên xuất sắc của trung tâm.
						</p>
					</div>
				</div>
				<ul class="courses-slide owl-carousel">
					<li class="course-item">
						<a href="" class="course-item-link">
							<Image class="course-item-img" src={Course1Img} alt="" />
						</a>
							<div class="course-item-detail">
								<span>Khoá học</span>
								<a href="" class="course-item-title">Khám phá tiếng Trung</a>
								<div class="separator"></div>
								<div class="course-item-props">
									<div>
										<i class="far fa-user"></i>
										<span>Giáo viên: Cô giáo Mộc Miên</span>
									</div>
									<div>
										<i class="far fa-clock"></i>
										<span>Thời lượng: 15 buổi</span>
									</div>
								</div>
							</div>
						<a class="course-item-view-btn" href="">Xem chi tiết</a>
					</li>
					<li class="course-item">
						<a href="" class="course-item-link">
							<Image class="course-item-img" src={Course1Img} alt="" />
						</a>
							<div class="course-item-detail">
								<span>Khoá học</span>
								<a href="" class="course-item-title">Phát âm rõ ràng như người bản xứ</a>
								<div class="separator"></div>
								<div class="course-item-props">
									<div>
										<i class="far fa-user"></i>
										<span>Giáo viên: Cô giáo Mộc Miên</span>
									</div>
									<div>
										<i class="far fa-clock"></i>
										<span>Thời lượng: 15 buổi</span>
									</div>
								</div>
							</div>
						<a class="course-item-view-btn" href="">Xem chi tiết</a>
					</li>
					<li class="course-item">
						<a href="" class="course-item-link">
							<Image class="course-item-img" src={Course1Img} alt="" />
						</a>
							<div class="course-item-detail">
								<span>Khoá học</span>
								<a href="" class="course-item-title">Từ vựng căn bản</a>
								<div class="separator"></div>
								<div class="course-item-props">
									<div>
										<i class="far fa-user"></i>
										<span>Giáo viên: Cô giáo Mộc Miên</span>
									</div>
									<div>
										<i class="far fa-clock"></i>
										<span>Thời lượng: 15 buổi</span>
									</div>
								</div>
							</div>
						<a class="course-item-view-btn" href="">Xem chi tiết</a>
					</li>
					<li class="course-item">
						<a href="" class="course-item-link">
							<Image class="course-item-img" src={Course1Img} alt="" />
						</a>
							<div class="course-item-detail">
								<span>Khoá học</span>
								<a href="" class="course-item-title">Những lỗi sai hay gặp khi bắt đầu học tiếng Trung</a>
								<div class="separator"></div>
								<div class="course-item-props">
									<div>
										<i class="far fa-user"></i>
										<span>Giáo viên: Cô giáo Mộc Miên</span>
									</div>
									<div>
										<i class="far fa-clock"></i>
										<span>Thời lượng: 15 buổi</span>
									</div>
								</div>
							</div>
						<a class="course-item-view-btn" href="">Xem chi tiết</a>
					</li>
				</ul>
			</div>

			<div class="news-wrapper">
				<div class="news-header row">
					<div class="news-header-left col-4">
						<h4 class="news-header-sub-heading main-page-h4-heading">
							Tin tức và ưu đãi
						</h4>
						<h3 class="news-header-main-heading main-page-h3-heading">
							Duy nhất tại <br> <span style="color: var(--accent);">Mộc Miên</span>
						</h3>
					</div>
					<p class="news-description col-8 flex-center-v">
					Mộc Miên cập nhật thường xuyên và liên tục những thông tin về kỳ thi HSK. Không chỉ đem lại tin tức, đây còn là nguồn tài liệu bổ ích về tiếng Trung đồng thời là nơi cung cấp thông tin về những ưu đãi khủng theo từng khóa học.
					</p>
				</div>
				<div class="news-body row">
					<div class="video-wrapper col-6">
						<div class="back-bg"/>
						<video controls>
							<source src="../src/assets/img/video-news.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>
					</div>
					<div class="news-body-content col-6">
						<h4 class="news-body-sub-heading main-page-h4-heading">Ưu đãi các khoá học HSK, giao tiếp</h4>
						<h3 class="news-body-heading main-page-h3-heading">Ưu đãi ngút ngàn - học bổng ngập tràn</h3>
						<ul class="news-body-list1">
							<li>
								Học phí cạnh tranh nhất thị trường
							</li>
							<li>	
								Giảm ngay 300.000VNĐ khi like, share, check in post
							</li>
							<li>
								Giảm thêm 300.000VNĐ khi đăng ký theo nhóm
							</li>
							<li>
								Tặng ngay 50% lệ phí thi chứng chỉ sau khi hoàn thành khóa học
							</li>
						</ul>
						<h4 class="main-page-h4-heading">Chinh phục HSK cùng <span style="color: var(--accent);">Mộc Miên</span>, tại sao không?</h3>
						<ul class="news-body-list1">
							<li>
								Lộ trình tinh gọn chỉ với 01 khóa học duy nhất, phù hợp cho sinh viên, những bạn mất gốc và các bạn mới ra trường.
							</li>
							<li>	
								Đội ngũ giáo viên chuyên môn cao, dày dặn kinh nghiệm luyện thi thực tế.
							</li>
							<li>
								Tài liệu được biên soạn độc quyền bởi Thạc sĩ Đỗ Vân Anh - Founder Anh ngữ Athena (IELTS 8.5, TOEIC 990/990).
							</li>
							<li>
								Cam kết đầu ra bằng hợp đồng, miễn phí học lại nếu không đạt mục tiêu.
							</li>
						</ul>
					</div>
				</div>

			</div>
		</main>
		<Footer />

		<script>
			declare global {
				interface Window {
					netlifyIdentity: any;
				}
			}

			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", ((user: any) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  }));
			}
		</script>
	</body>	
</html>
